li {
  list-style: none;
}

.header-list li{
  float: left;
  color: #000000;
  padding: 5px;
}

.top-link{
  color: #FFF;
  font-weight: 300;
  text-decoration: none;
}

.top-link:link{
  color: #FFF;
  font-weight: 300;
  text-decoration: none;
}

.top-link:visited{
  color: #FFF;
  font-weight: 300;
  text-decoration: none;
}
  
.top-link:hover{
  color: #FFFFCC;
  font-weight: 900;
  text-decoration: none;
}

.top-link:active{
  color: #FFFFCC;
  font-weight: 900;
  text-decoration: none;
}

.footer-list li{
  width: 600px ;
  margin-left: auto;
  margin-right: auto;
}

.inline li{
  text-align: center;
}

.header{
  padding: 20px;
  margin: 20px;
  background-color: #C0C0C0;
  text-align: center;
  color: #000;
}

.header-list{
  height: 20px;
}

.main{
  margin: 35px;
}

