li {
  list-style: none;
}

.header-list li{
  float: left;
  color: #000000;
  padding: 5px;
}

a{
  color: #FFF;
  font-weight:300;
  text-decoration: none;
}

a:link, a:visited{
  color: #FFF;
  font-weight:300;
  text-decoration: none;
}
  
a:hover, a:active{
  color: #FFFFCC;
  font-weight:bold;
  text-decoration: none;
}

.footer-list li{
  width: 600px ;
  margin-left: auto;
  margin-right: auto;
}

.inline li{
  text-align: center;
}

.header{
  padding: 20px;
  margin: 20px;
  background-color: #C0C0C0;
  text-align: center;
  color: #000;
}

.header-list{
  height: 20px;
}

.twitter-timeline{
  padding: 200px;
}
