li {
  list-style: none;
}

.header{
  padding: 20px;
  margin: 20px;
  background-color: #a9a4a4;
  text-align: center;
  color: #000;
}

.header-list{
  height: 30px;
  text-align: center; /* ヘッダーリスト全体を中央寄せ */
}


.header-list li{
  float: left;
  color: #000000;
  padding: 5px;
  text-align: center; /* ヘッダーリスト全体を中央寄せ */
}

.header-list ul {
  display: inline-block; /* リスト全体を中央に配置 */
  padding: 0;
  margin: 0;
}

.header-list ul li {
  display: inline; /* 各リスト項目を横並びに表示 */
  margin-right: 20px; /* 各項目の間隔を調整 */
}


.top-link{
  color: #FFF;
  font-weight: 300;
  text-decoration: none;
}

.top-link:link{
  color: #FFF;
  font-weight: 300;
  text-decoration: none;
}

.top-link:visited{
  color: #FFF;
  font-weight: 300;
  text-decoration: none;
}
  
.top-link:hover{
  color: #FFFFCC;
  font-weight: 900;
  text-decoration: none;
}

.top-link:active{
  color: #FFFFCC;
  font-weight: 900;
  text-decoration: none;
}

.achievement-list{
  text-align: center;
  margin-bottom: 1em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}


.footer-list li{
  width: 600px ;
  margin-left: auto;
  margin-right: auto;
}

.inline li{
  text-align: center;
}

.main{
  margin: 35px;
}

